# =================
# Navigation
# =================
alias ..='cd ..'
alias x='exit'
alias j="z"         # https://github.com/rupa/z

# =================
# AI
# =================
alias q="node ~/projects/nicechat/dist/index.js"
alias qco="nicechat chat claude-opus"
alias qcs="nicechat chat claude-sonnet"

mkcd() {
  mkdir $@ && cd $_
}

# ====================
# Default replacements
# ====================
alias cat='bat'
alias find='fd'
alias l='ls -lahF'
alias v='nvim'
alias y='yarn'
alias vnext='~/Downloads/nvim-osx64/bin/nvim'

# =================
# Rails
# =================
alias b='bundle'
alias rs='bin/rails server'
alias rc='bin/rails console'
alias rdm='bundle exec rake db:migrate'

# =================
# Git
# =================
alias g="git"
alias gs='git s'
alias gd='git d'
alias g-='git checkout -'
alias p='git push'
alias c='git commit'
alias cm='git commit -m'
alias ca='git commit --amend'
alias re='git checkout $(git recent | fzf)' # recent branches, see .gitconfig aliases

# view commit, eg: vc 1234567
vc() {
  if [ -z "$1" ]; then
    echo "Usage: vc <commit-hash>"
    return 1
  fi

  local commit_hash=$1
  local repo_url=$(git config --get remote.origin.url)

  echo "repo_url: $repo_url"

  if [[ $repo_url == *.git ]]; then
    repo_url=${repo_url%.git}
  fi

  echo "repo_url: $repo_url"

  if [[ $repo_url == git@* ]]; then
    repo_url=${repo_url/git@/https:\/\/}
    repo_url=${repo_url/:/\//}
  fi

  local commit_url="$repo_url/commit/$commit_hash"

  echo "Opening $commit_url"
  open "$commit_url"
}

# =================
# Personal
# =================

cn() {
  open "https://app.candlapp.com/api/authors/fbn?name=$*"
}
