# Navigation
alias ..='cd ..'
alias l='ls -lahF'
alias x='exit'

# Rails
alias r='rails'
alias rs='rails server'
alias rs1='rails server -p 3001'
alias rs2='rails server -p 3002'
alias rs3='rails server -p 3003'
alias rs4='rails server -p 3004'
alias rs5='rails server -p 3005'
alias rs7='rails server -p 3007'
alias rc='rails console'
alias rdm='bundle exec rake db:migrate'
alias groutes='bundle exec rake routes | grep $@'

mkcd() {
  mkdir $@ && cd $_
}

# Only run spec if file exists
rsp() {
  if [ -f $1 ]; then
    bundle exec rspec $1
  else
    (>&2 echo "File Not Found")
    # exit 1
  fi
}

# Git
alias g="git"
alias gs='git s'
alias gd='git d'
alias g-='git checkout -'
alias p='git push'
alias c='git commit -m'

# Misc
alias b='bundle'
alias be='bundle exec'

alias dokku='bash $HOME/.dokku/contrib/dokku_client.sh'

alias libiec='ssh -t libie "cd /www/libie-rails && rails console production"'
