# =================
# Navigation/system
# =================
alias ..='cd ..'
alias x='exit'
alias j="z"         # https://github.com/rupa/z

# `o` with no arguments opens the current directory, otherwise opens the given
# location
function o() {
	if [ $# -eq 0 ]; then
		open .;
	else
		open "$@";
	fi;
}

mkcd() {
  mkdir $@ && cd $_
}

function bs() {
	if [ $# -eq 0 ]; then
		brew services list;
	else
		brew services "$@";
	fi;
}

# ====================
# Default replacements
# ====================
alias cat='bat'
alias find='fd'
alias ls="exa"
alias l='ls -lahF'
alias v='nvim'
alias y='yarn'
alias vnext='~/Downloads/nvim-osx64/bin/nvim'

# =================
# Docker / Kubs
# =================
alias d='docker'
alias doc='docker-compose'
alias k='kubectl'

# =================
# Rails
# =================
alias b='bundle'
alias be='bundle exec'
alias r='rails'
alias rs='rails server'
alias rs1='rails server -p 3001'
alias rs2='rails server -p 3002'
alias rs3='rails server -p 3003'
alias rs4='rails server -p 3004'
alias rs5='rails server -p 3005'
alias rc='rails console'
alias rdm='bundle exec rake db:migrate'
wps() {
  if [ -f ./bin/webpack-dev-server ]; then
    ./bin/webpack-dev-server
  elif [ -f ./script/webpack-dev-server ]; then
    ./script/webpack-dev-server
  else
    npm start
  fi
}

# =================
# Django
# =================
dj() {
  if [ -f ./manage.py ]; then
    python ./manage.py $*
  elif [ -f ./app/manage.py ]; then
    python ./app/manage.py $*
  else
    echo 'manage.py not found'
  fi
}

# =================
# Git
# =================
alias g="git"
alias gs='git s'
alias gd='git d'
alias g-='git checkout -'
alias p='git push'
alias c='git commit'
alias cm='git commit -m'
alias ca='git commit --amend'
alias re='git checkout $(git recent | fzf)'  # recent branches, see .gitconfig aliases
# Specials / Scripts
alias pr='~/projects/automate/git/gh-pull-request.sh'
alias vc='~/projects/automate/git/gh-view-commit.sh'
alias gclean='~/projects/automate/git/git-clean-merged.sh'

# ==================
# Various automation
# ==================
alias jira="node /Users/yanistriandaphilov/projects/automate/jira/index.js"

# =================
# Fun
# =================

# Lookup lyrics of song playing in iTunes
alias ly='~/dotfiles/scripts/lyrics.sh'
