[user]
	name = Ianis Triandafilov
  email = janis.sci@gmail.com

[core]
  editor = nvim

  # Treat spaces before tabs and all kinds of trailing whitespace as an error
  # [default] trailing-space: looks for spaces at the end of a line
  # [default] space-before-tab: looks for spaces before tabs at the beginning of a line
  whitespace = space-before-tab,-indent-with-non-tab,trailing-space

[push]
  default = simple

[alias]
  # a consisely formatted log
  h = log --graph --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

  # short status
  s = status -sb

  # I'm too lazy to type
  c = commit
  d = diff
  co = checkout
  dc = diff --cached
  rh = reset --hard
  amend = commit --amend
  cp = cherry-pick
  recent = for-each-ref --sort=-committerdate --count=10 --format='%(refname:short)' refs/heads/

[advice]
  statusHints = false

[filter "media"]
  required = true
  clean = git media clean %f
  smudge = git media smudge %f

[filter "hawser"]
  clean = git hawser clean %f
  smudge = git hawser smudge %f
  required = true

[filter "lfs"]
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f

[pager]
  diff = diff-so-fancy | less --tabs=1,5 -RFX
  show = diff-so-fancy | less --tabs=1,5 -RFX

[pull]
  rebase = true

[merge]
  tool = nvimdiff4

[mergetool "nvimdiff4"]
  cmd = nvim -d $LOCAL $BASE $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[diff]
  tool = vimdiff
	submodule = log

[difftool]
  prompt = false

[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = 11
  frag = magenta bold
  old = red bold
  new = green bold
  commit = yellow bold
  whitespace = red reverse

[color "status"]
  AddressListsParserded = yellow
  changed = green
  untracked = cyan

[help]
  # Automatically correct and execute mistyped commands
  autocorrect = 1
[init]
	defaultBranch = main
