# in your .bashrc/.zshrc file:
# source ./.aliases

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# System
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl"

# Rails
alias r='rails'
alias rs='rails server'
alias rs1='rails server -p 3001'
alias rs2='rails server -p 3002'
alias rs3='rails server -p 3003'
alias rc='rails console'
alias rgm='rails g migration'
alias rdm='bundle exec rake db:migrate'

# Heroku
alias h='heroku'
hbv() {
  h "$@" -a bvsandbox
}
alias hbvlogs='hbv logs --tail'
alias hbvconf='hbv config'

mkcd() {
  mkdir $@ && cd $_
}

# Git
alias g="git"
alias gs='git s'
alias gd='git d'
alias g-='git checkout -'
alias pr='~/scripts/pullreq.sh'
alias mylog='~/scripts/monthly-log.sh Yanis'

# Misc
alias be='bundle exec'
alias b='bundle'
alias ctags="`brew --prefix`/bin/ctags"
alias serve='python -m SimpleHTTPServer 8000'
alias i='ionic'
alias mem='top -l1 | grep PhysMem'
alias npmi='npm install --save'
alias npmid='npm install --save-dev'
